@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --lightgray1: #edf2f4;
}
*{
    font-family: "Montserrat", serif;
}
.hero{
    margin: 0 auto;
    max-width: 1700px;
    min-width: 240px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    align-self: flex-start;
    flex-direction: column;
}
.navbar{
    width: 100%;
    margin: auto;
    box-shadow: none;
}
#navbar-content li{
    font-weight: bold;
}
.carousel{
    margin: 0 auto;
    width: 100%;
}
.montnormal{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: normal;
}
.montmedium{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: medium;
}
.montbold{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}
.dropdown-menu{
    border-radius: 7px;
    border: none;
}
.heroCarouselImg{
    max-height: 500px;
    object-fit: cover;
}
.wntbtn{
    padding: 12px 15px;
    background-color: #b02a2a;
    border: none;
    border-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: white;
    min-width: 200px;
}
.colordarkred{
    color: #b02a2a !important;
    font-weight: bold;
}
.gray{
    background-color: rgba(0, 0, 0, 0.6);
}
.card{
    background-color: var(--lightgray1);
    border: none;
}
/* .primarycolor{
    
} */