@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --lightgray1: #edf2f4;
}
*{
    font-family: "Montserrat", serif;
}
.hero{
    margin: 0 auto;
    max-width: 1700px;
    min-width: 240px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    align-self: flex-start;
    flex-direction: column;
}
.navbar{
    width: 100%;
    margin: auto;
    box-shadow: none;
}
#navbar-content li{
    font-weight: bold;
}
.carousel{
    margin: 0 auto;
    width: 100%;
}
.montnormal{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: normal;
}
.montmedium{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: medium;
}
.montbold{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}
.dropdown-menu{
    border-radius: 7px;
    border: none;
}
/* .carousel-inner{
    max-height: 100v;
} */
.heroCarouselImg{
    /* min-height: 100vh; */
    max-height: 100vh;
    object-fit: cover;
}
.wntbtn {
    padding: 15px 20px;
    background-color: #b02a2a;
    /* border: none; */
    border-radius: 0;
    clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
    color: white;
    min-width: 200px;
    max-width: 200px;
    border: solid 2px darkslategray;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease-in-out;
    z-index: 1;
    margin: auto;
    display: block;
}
a{
    text-decoration: none;
}
.wntbtn:hover{
    color: #f6f1f1;
    text-shadow: 0 0 10px black;
    transition: .5s;

    
}

.wntbtn::before,
.wntbtn::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: #edf2f4;
    text-shadow: 0 0 5px black;
    box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.6);
    transition: all .5s ease-in-out;
    z-index: -1;
}
.bg-warning::before,
.bg-warning::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: white;
    /* text-shadow: 0 0 0px white; */
    box-shadow: inset 0px 0px 60px rgba(0, 100, 250, 0.8);
    transition: all .5s ease-in-out;
    z-index: -1;
}
.bg-warning{
    text-shadow: 0 0 2px black;
    border: solid 2px orange;
}
.wntbtn::before {
    left: -100%;
}

.wntbtn::after {
    right: -100%;
}

.wntbtn:hover::before {
    left: 0;
}

.wntbtn:hover::after {
    right: 0;
}

.bg-warning:hover{
    /* background: white !important; */
    color: darkblue !important;
    text-shadow: none !important;
}
.colordarkred{
    color: #b02a2a !important;
    font-weight: bold;
}
.bg-darkred{
    background-color: #b02a2a !important;
    color: white;
}
.copyright{
    margin: 0 10px;
}
.gray{
    background-color: rgba(0, 0, 0, 0.6);
}
.card{
    background-color: var(--lightgray1);
    border: none;
}
/* .primarycolor{
    
} */