.news-card {
    background-color: #f4f8fa;
    padding: 20px;
    border-radius: 5px;
    height: 100%;
}
.news-title {
    font-weight: bold;
    color: #b00090;
}
.carrer{
    background-color: #f4f8fa;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.carrer:hover{
    transform: scale(1.05);
}
.icon{
    margin-bottom: 12px;
    font-size: 40px;
    color: #000;
}